/* color pallete
https://www.color-hex.com/color-palette/83132
#43ae70	(67,174,112)
#ffffff	(255,255,255)
#ff9a00	(255,154,0)
#43aea6	(67,174,166)
#9f70d0	(159,112,208) */

* {
  font-family: "IBM Plex Mono", monospace;
}

body {
  text-align: center;
  /* background-color: rgba(233, 51, 141); */
}

#p5-canvas {
  width: 640px;

  position: relative;
  margin: 1rem auto;
}

#play-btn {
  position: absolute;
  left: 260px;
  top: 220px;
}

.btn {
  border: 1px solid;
  font-size: 1rem;
  height: 40px;
  width: 120px;
  color: rgba(159, 112, 208, 1);
  transition: color 0.3s;
  transition: background-color 0.3s;
}

.btn:hover {
  border: 1px solid rgba(159, 112, 208, 1);
  font-size: 1rem;
  color: #fff;
  background-color: rgba(159, 112, 208, 1);
}

#submit-button {
  /* color: rgba(67, 174, 112, 1); */
}

#nope-button {
  /* color: rgba(67, 174, 112, 0.5); */
}

h1 {
  margin: 1rem auto 0.5rem auto;
  font-size: 4rem;
}

h1,
h2,
h3,
p,
a {
  color: rgba(159, 112, 208, 1);
}

#submit {
  display: none;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  background: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: rgba(159, 112, 208, 1);
}

#leaders {
  display: none;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  background: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: rgba(159, 112, 208, 1);
}

#name {
  width: 50%;
  padding: 1rem;
  outline: none;
  height: 2rem;
  border: 1px solid rgba(159, 112, 208, 1);
  border-radius: 4px;
  font-size: 1rem;
  color: #43aea6;
}

::placeholder {
  color: #43aea6;
  opacity: 0.5; /* Firefox */
}

#leaders-ol {
  width: 70%;
  margin: 2rem 1rem 2.5rem 1rem;
  list-style: none;
  counter-reset: li;
}

li {
  text-align: left;
  counter-increment: li;
  color: #43aea6;
}

li:before {
  content: counter(li);
  display: inline-block;
  width: 0.5em;
  margin-right: 1rem;
  color: rgba(159, 112, 208, 1);
}

.score {
  float: right;
  color: #ff9a00;
}

#submit-score {
  color: #ff9a00;
}

a {
  background-color: #fff;
  color: #ff9a00;
  padding: 2px;
  transition: color 0.5s;
}
a:hover {
  color: #fff;
  background-color: #ff9a00;
  text-decoration: none;
}

#score {
  max-width: 180px;
  /* padding: 0.5rem 0; */
  padding: 0.3rem 0;
  margin: 1.5rem auto;
  border: 1px solid rgba(159, 112, 208, 1);
}
